#personnage, #obstacle1, #piece
{
    position: absolute;
}
#background
{
    position: relative;
    z-index : 1;
}
.btn:focus {
    outline: none; !important
}
#fond2
{
    margin-left: -0.5%;
}
#fond3
{
    margin-left: -0.5%;
}
#fond4
{
    margin-left: -0.5%;
}
#fond5
{
    margin-left: -0.5%;
}
#background
{
    height:100%;
    width: 100%;
}
#background{
    text-align:center;
    white-space:nowrap;

}
#personnage
{
    height: 10%;
    width: 5%;
    margin-top: -25%;
    z-index : 100;
}
#background
{
    width: 100%;
    height: 100%;
}

#obstacle1, #piece
{
    margin-left: 45%;
    height: 10%;
    width: 5%;
    margin-top: -25%;
    z-index : 100;
}

#commandes {
    text-align: center;
}

#instructions {
    font-weight: bold;
}



.groupeMiniJeu {
    overflow: hidden;
    margin-left: 2%;
    margin-right: 2%;
}