#personnage, #obstacle1, #piece
{
    position: absolute;
}
#fond
{
    position: relative;
}
#fond{
    height:100%;
    width: 100%;

}
#personnage
{
    height: 10%;
    width: 5%;
    margin-top: -20%;
}
#fond{
    width: 100%;
    height: 100%;
}
#obstacle1, #piece
{
    margin-left: 45%;
    height: 10%;
    width: 5%;
    margin-top: -20%;
}