#personnage, #obstacle1, #piece
{
    position: absolute;
}
#fond, #fond2
{
    position: relative;
}
#fond2
{
    margin-left: -0.5%;
}
#fond,#fond2
{
    height:100%;
    width: 100%;
}
#background{
    text-align:center;
    white-space:nowrap;

}
#personnage
{
    height: 10%;
    width: 5%;
    margin-top: -20%;
}
#fond, #fond2
{
    width: 100%;
    height: 100%;
}

#obstacle1, #piece
{
    margin-left: 45%;
    height: 10%;
    width: 5%;
    margin-top: -20%;
}